<ul class="nav nav-tabs" style="margin-left:10px; margin-bottom:-2px;">
  <li role="presentation"><a routerLink="/" href="#">User List</a></li>
  <li role="presentation" class="active"><a style="border-color: black; border-bottom-color: transparent">Add User</a></li>
</ul>
<div style="padding:30px; padding-top:80px; border:1px solid black">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" style="font-family:Arial; font-weight:100; text-align:left">Name</label>
      <div class="col-sm-3">
        <input type="text" name="name" [(ngModel)]="bName" class="form-control" style="border-radius:0%; border-color:black">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" style="font-family:Arial; font-weight:100; text-align:left">Email</label>
      <div class="col-sm-3">
        <input type="text" name="Email" [(ngModel)]="bEmail" class="form-control" style="border-radius:0%; border-color:black">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" style="font-family:Arial; font-weight:100; text-align:left">Address</label>
      <div class="col-sm-3">
        <input type="text" name="Address" [(ngModel)]="bAddress" class="form-control" style="border-radius:0%; border-color:black">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" style="font-family:Arial; font-weight:100; text-align:left">Phone Number</label>
      <div class="col-sm-3">
        <input type="text" name="Phone" [(ngModel)]="bPhone" class="form-control" style="border-radius:0%; border-color:black">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" style="font-family:Arial; font-weight:100; text-align:left">Company Name</label>
      <div class="col-sm-3">
        <input type="text" name="Company" [(ngModel)]="bCompany" class="form-control" style="border-radius:0%; border-color:black">
      </div>
    </div>

    <div>
      <button type="button" class="col-sm-offset-2" (click)="addBook()" style="background-color:green; color:white">Add User</button>
    </div>
  </form>  
</div>