<ul class="nav nav-tabs" style="margin-left:10px; margin-bottom:-2px;">
  <li role="presentation" class="active"><a style="border-color: black; border-bottom-color: transparent" href="#">User List</a></li>
  <li role="presentation"><a routerLink="/add_user">Add User</a></li>
</ul>
<div style="padding:30px; padding-top:80px; border:1px solid black">
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Company</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let u of this.api.uList; let i = index">
      <td>{{u.name}}</td>
      <td>{{u.email}}</td>
      <td>{{u.address.street}}</td>
      <td>{{u.company.name}}</td>
      <td><button type="button" style="background-color:red" (click)="remove(i)">Remove</button></td>
    </tr>
  </table>
  
</div>
